BasedOnStyle: Microsoft
AccessModifierOffset: -2
AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveAssignments: None
AlignOperands: Align
AlignArrayOfStructures: Left
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowAllConstructorInitializersOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 100
ContinuationIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: false
Cpp11BracedListStyle: true
PointerAlignment: Left
ExperimentalAutoDetectBinPacking: true
FixNamespaceComments: false
IndentWrappedFunctionNames: true
NamespaceIndentation: None
SortIncludes: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyBlock: true
StatementAttributeLikeMacros: []
TabWidth: 2
UseCRLF: false
UseTab: Never
AlwaysBreakTemplateDeclarations: Yes
IndentWidth: 2
